{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="The Store hours for the Little Taco Shop">
    <meta name="author" content="Ian Ndolo">
    <title>LTS Hours</title>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
    <h1>The Little Taco Shop Hours</h1>
    <header>
        <nav>
            <ul>
                <li> <a href="index.html">Home</a></li>
                <li> <a href="contact.html">Contact Us</a></li>
            </ul>
        </nav>
        <figure>
            <img src="{% static 'images/tacos_tray_400x267.png' %}" alt="A tray of tasty tacos." title="We love tray of tacos!"
                width="400" height="267">
            <figcaption>
                A tray of tasty tacos.
            </figcaption>
        </figure>
    </header>
    <hr>
    <main>
        <!-- our content for the page -->
        <p>
            We are open 7 days a week!
        </p>
        <dl>
            <dt>Sunday-Thursday</dt>
            <dd>11:00am - 9:00pm</dd>
            <dt>Friday-Saturday</dt>
            <dd>11:00am - 11:00pm</dd>
        </dl>
    </main>
    <p>
        <a href="#">Back to Top</a>
    </p>
    <hr>
    <footer>
        <p>Copyright &copy; The Little Taco Shop</p>
    </footer>
</body>

</html>